$baseSize: 14px;

h1 {
  font-size: 3rem;
  line-height: 3.6rem;
}

.blog-content {
  max-width: 800px;
  margin: auto;
}

body {
  font-size: 1.2em;
  line-height: 1.4em;
}

.header {
}

.footer {
}

.container {
}

