// Grid
$gw:		12;
$gw-column: 58px;          // Column Width
$gw-gutter: 24px;           // Gutter Width

// TYPOGRAPHY

$bodyFont: "ff-tisa-web-pro", 'Georgia', serif;
$headerFont: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;

$baseSize: 16px;
$lineHeight: $baseSize * 1.4;

// Colors

$link: #479d97;
$mainColor: #b9e3e3;
