<!-- JavaScript at the bottom for fast page loading -->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
<script>
  var _gaq=[['_setAccount','UA-12392264-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script type="text/javascript">
  (function() {
    window._pa = window._pa || {};
    // _pa.orderId = "myOrderId"; // OPTIONAL: attach unique conversion identifier to conversions
    // _pa.revenue = "19.99"; // OPTIONAL: attach dynamic purchase values to conversions
    // _pa.productId = "myProductId"; // OPTIONAL: Include product ID for use with dynamic ads
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    pa.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + "//tag.perfectaudience.com/serve/521617fc1077880ed1000090.js";
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pa, s);
  })();
</script>
                
<script type="text/javascript">
  var _cio = _cio || [];
  (function() {
    var a,b,c;a=function(f){return function(){_cio.push([f].
    concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
    "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
    var t = document.createElement('script'),
        s = document.getElementsByTagName('script')[0];
    t.async = true;
    t.id    = 'cio-tracker';
    t.setAttribute('data-site-id', 'f3d308fcd7bf097f9d4a');
    t.src = 'https://assets.customer.io/assets/track.js';
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">
  _cio.track("watchedIntroVideo");
  _cio.track("purchased", { price: "23.45" });
</script>

<script type="text/javascript">
  _cio.identify({
    // Required attributes
    id: 'prod_287',           // Unique id for the currently signed in user in your application.

    // Strongly recommended attributes
    email: 'user@domain.com', // Email of the currently signed in user.
    created_at: 1339438758,   // Timestamp in your system that represents when
                              // the user first signed up. You'll want to send it
                              // as seconds since the epoch.

    // Example attributes (you can name attributes what you wish)
    first_name: 'John',       // Add any attributes you'd like to use in the email subject or body.
    last_name: 'Smith',       // First name and last name are shown on people pages.
    plan_name: 'premium'      // To use the example segments, set this to 'free' or 'premium'.
  });
</script>
