// Grid
$gw:		12;
$gw-column: 58px;          // Column Width
$gw-gutter: 24px;           // Gutter Width

// TYPOGRAPHY

$bodyFont: "Crimson Text", 'Georgia', serif;
$headerFont: "Roboto Condensed", sans-serif;

$baseSize: 19px;
$lineHeight: $baseSize * 1.4;

// Colors

$link: blue;
$mainColor: #C29628;
