<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>
	
   <meta name="author" content="Colin Nederkoorn" />
   
   <!--  Mobile viewport optimized: j.mp/bplateviewport -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
   <link rel="shortcut icon" href="/favicon.ico">
   <link rel="apple-touch-icon" href="/apple-touch-icon.png">
	 <link rel="author" href="https://plus.google.com/103473970185401613274"> 
   
   <link href="http://feeds.feedburner.com/iamnotaprogrammer" rel="alternate" title="Colin Nederkoorn" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
	{% include typekit.html %}

</head>
<body lang="en">
  
	<header>
	<div class="fill">
		<div class="container">
		<div class="title">
			<h3><a href="/">Colin Nederkoorn</a></h3>
				<div class="follow-button">
		<a href="https://twitter.com/alphacolin" class="twitter-follow-button" data-button="grey" data-text-color="#FFFFFF" data-link-color="#00AEFF">Follow @alphacolin</a>
		<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
	</div>

		</div>
		</div>
</div>
	</header>


	<div class="container">
      {{ content }}
	</div>

 {% include analytics.html %}
</body>
</html>
