<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="author" content="Colin Nederkoorn" />
	<link rel="author" href="https://plus.google.com/103473970185401613274">
   
   
   	<link href="http://iamnotaprogrammer.com/atom.xml" rel="alternate" title="Colin Nederkoorn" type="application/atom+xml" />

   	<link rel="stylesheet" href="/css/flex.css" type="text/css" media="screen, handheld" />
    <link rel="stylesheet" href="/css/flexlarge.css" type="text/css" media="screen  and (min-width: 40.5em)" />
    <!--[if (lt IE 9)&(!IEMobile)]>
    <link rel="stylesheet" type="text/css" href="/css/flexlarge.css" />
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

</head>
<body lang="en">
 
  <div class="wrapper">
    <header class="header">
        <h2 class="blog-title"><a href="/">Colin Nederkoorn</a></h2>
    </header>

    <div class="container">
    
      <section class="blog-content">
        {{ content }}
      </section>

    </div>

    
    <footer class="footer">
      <ul class="footer-links">
        <li><h5><a href="/">Home</a></h5></li>
        <li><h5><a href="http://twitter.com/alphacolin">Twitter</a></h5></li>
        <li><h5><a href="http://iamnotaprogrammer.com/atom.xml">RSS</a></h5></li>
        <li><h5><a href="http://customer.io">Send better emails</a></h5></li>
      </ul>		
    </footer>
  </div>

 {% include analytics.html %}


</body>
</html>
