<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>
	
	<meta name="author" content="Colin Nederkoorn" />
	<link rel="author" href="https://plus.google.com/103473970185401613274">
   
   
   	<link href="http://feeds.feedburner.com/iamnotaprogrammer" rel="alternate" title="Colin Nederkoorn" type="application/atom+xml" />

   	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	{% include typekit.html %}

</head>
<body lang="en">
  
	<header>
		<div class="container">
			<h2><a href="/">Colin Nederkoorn's Blog</a></h2>
		</div>
	</header>

	<div class="container">
		<section id="sidebar">
			<img src="/images/colin-nederkoorn-sketch.jpg"
			<br/><p>I'm Colin Nederkoorn, founder of<br/>
			<strong><a href="http://customer.io">Customer.io</a></strong>
			<small> - Send emails to users automatically.
			Based on what they do (or don't do) in your app.</p></small>

		</section>

		<section id="content">
			{{ content }}
		</section>
	</div>

	
	<footer>
		<ul>
			<li><a href="http://spintoapp.com">Proudly powered by
				Spinto</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="http://twitter.com/alphacolin">Twitter</a></li>
			<li><a href="http://feeds.feedburner.com/iamnotaprogrammer">RSS</a></li>
			<li><a href="http://customer.io">Automatic emails for user retention</a></li>
		</ul>		
	</footer>

 {% include analytics.html %}


</body>
</html>
