<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>{{ page.title }}</title>
	
	<meta name="author" content="Colin Nederkoorn" />
	<link rel="author" href="https://plus.google.com/103473970185401613274">
   
   
   	<link href="http://iamnotaprogrammer.com/atom.xml" rel="alternate" title="Colin Nederkoorn" type="application/atom+xml" />

   	<link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic|Roboto+Condensed:700' rel='stylesheet' type='text/css'>

</head>
<body lang="en">
  
	<header>
		<div class="container">
			<h2><a href="/">Colin Nederkoorn's Blog</a></h2>
		</div>
	</header>

	<div class="container">
  
		<section id="content">
			{{ content }}
		</section>

	</div>

	
	<footer>
		<ul>
			<li><a href="/about.html">About</a></li>
			<li><a href="http://twitter.com/alphacolin">Twitter</a></li>
			<li><a href="http://iamnotaprogrammer.com/atom.xml">RSS</a></li>
			<li><a href="http://customer.io">Send better emails</a></li>
		</ul>		
	</footer>

 {% include analytics.html %}


</body>
</html>
